<%= form_for :user do |l| %>
    <div class = "headlogin">
            <%= l.label :username %>
            <%= l.text_field :user %>
        <br>
            <%= l.label :password %>
            <%= l.text_field :password %>
        <br>
            <%= l.submit %>
        </p>
    </div>
<% end %>
